@model IEnumerable<datphongkhachsan.Data.DataModel.Phong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .card {
    margin-right: 20px;
}


</style>

<br />
<br />

<div class="row">
    @foreach (var product in Model)
    {
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card" style="width: 18rem">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size:23px;color:steelblue;">
                            @Html.DisplayFor(modelItem => product.LoaiPhong.Name)
                        </label>
                    </h4>
                </div>
                <img class="card-img-top" style="height:100%;" src="@product.HinhUrl" alt="Card Image" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:20px; color:#a51313">
                                @Html.DisplayFor(modelItem => product.Price)

                            </label>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <a asp-action="DetailsRoom" asp-controller="PhongCustomer" class="btn btn-outline-primary" asp-route-id="@product.Id"> Xem chi tiết</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
     }
</div>